.burger-menu-icon {
  fill: white;
  height: 100%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-3);
  color: var(--color-5);
  position: absolute;
  top: 100%;
  width: 100vw;
  left: 0;
  padding: 1rem;
  border-top: 4px solid var(--color-5);
  gap: 20px;
}

.menu-container > a {
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 2px solid var(--color-4);
}
