.random-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.random-picture-picture {
  max-width: 60%;
  max-height: 30rem;
  border: 10px solid var(--color-1);
  border-radius: 10px;
  box-shadow: 4px 4px 5px var(--shadow-color-1);
}

.button-container {
  display: flex;
  gap: 30px;
}
