.random-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  max-width: 1200px;
}

.random-picture-container > iframe {
  width: 510px;
  height: 310px;
}

.random-picture-picture {
  max-width: 60%;
  max-height: 30rem;
  border: 2px solid var(--color-1);
  border-radius: 10px;
  box-shadow: 4px 4px 5px var(--shadow-color-1);
}

.button-container {
  display: flex;
  gap: 30px;
}

.date-selector-container {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1168px) {
  .random-picture-picture {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .random-picture-picture {
    max-width: 100%;
    border: 2px solid var(--color-1);
  }
}

@media screen and (max-width: 425px) {
  .random-picture-picture {
    border: 0;
  }
}
