:root {
  --color-1: #635985;
  --color-2: #443c68;
  --color-3: #393053;
  --color-4: #18122b;
  --color-5: #c2bbd6;
  --shadow-color-1: rgba(12, 14, 15, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-4);
  color: var(--color-5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* unvisited link */
a:link {
  color: var(--color-5);
}

/* visited link */
a:visited {
  color: var(--color-5);
}

/* mouse over link */
a:hover {
  color: var(--color-1);
}

/* selected link */
a:active {
  color: var(--color-2);
}
